@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Developer:</strong><abbr> Yaroslav Tsvirkun</abbr><br />
    <strong>Phone:</strong><abbr> +38(099)470-56-91</abbr><br />
    <strong>Support:</strong><a href="mailto:yaroslav.tsvirkun.1992@outlook.com"> yaroslav.tsvirkun.1992@outlook.com</a><br />
    <strong>Marketing:</strong><a href="mailto:yaroslav.tsvirkun.1992@outlook.com"> yaroslav.tsvirkun.1992@outlook.com</a>
</address>